*{
    margin: 0;
    padding: 0;
}

.sptw {
    font-family: 'Encode Sans SC', sans-serif;
    color:#31316f;
}

.space {
    padding-left: 10%;
    padding-right: 10%;
}

.subtitle {
    font-family: 'Baloo 2', cursive;
    color: #e5e4f0;
}

.subsubtitle {
    color: #cedff2;
    text-decoration: underline;
}

.sans {
    font-family: 'Hind Siliguri', sans-serif;
}

.carousel .carousel-item h3, p {
    font-family: 'Hind Siliguri', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    margin: 0;
    font-size: min(5vw, 20px);
    text-align: justify;
}

@media only screen and (max-width: 460px) {
    p {
        text-align: center;
    }
}

@media only screen and (min-width: 900px) {
    iframe {
        height: 315px !important;
        width: 560px !important;
    }
}

iframe {
    width: auto;
    height: auto;
}

video {
    width: max(25vw, 250px);
    height: auto;
}

.button {
  background-color: #8ba6cc;
  color: white;
  border: 2px solid #31316f;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.buttonn {
    color: #31316f;
}

.change {
    border-color: #31316f;
    color: #31316f;
  }
  
.change:hover {
    background-color: #31316f;
    color: white;
  }

  .change:hover a {
      color: white;
  }

  .o {
      padding: 0.5rem;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

.author {
    width: max(30vw, 300px);
    border-radius: 25px;
    padding-right: 0.5rem;
}

.review {
    width: max(20vw, 200px);
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.cover {
  width: max(30vw, 300px);
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5rem;
}

.video {
    /* position: relative;
    width: 100%;
    padding-bottom: 40%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: -20px; */
    text-align: center;
}

/* .video iframe {
    position: absolute;
    width: 64%;
    height: 90%;
} */

.text-light {
    color: white;
}

.link {
    color: #31316f;
    
}

.link:hover {
    color: #31316f;
    text-decoration: underline;
}

.pr {
    padding-right: 1rem;
}

.initial {
    background-color: #8ba6cc;
}

.first {
    background-color: #699bcf;
}

.second {
    background-color: #647cbd;
}

.media {
    background-color: #4c6aac;
}

.middle {
    text-align: center;
}

.third {
    background-color: #24396e;
    padding: 1rem;
}

.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 1rem;
}

.up {
background-color: #9cc4e4;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.copyright {
    color: white;
    text-align: center;
}

.carousel .carousel-item h3 {
    margin: -5px 0;
    padding: 0;
    background-color: purple;
    color: white;
    box-sizing: border-box;
    padding: 10px 5px;
    font-size: 1em;
    text-align: center;
}

.carousel .carousel-item p {
    margin: -5px 0;
    padding: 0;
    background-color:#BD83CE;
    color: black;
    box-sizing: border-box;
    padding: 10px 5px;
    font-size: 1em;
    text-align: center;
}

.carousel {
    margin-top: -80px;
    margin-bottom: -30px;
    perspective: 600px;
}

.carousel .carousel-item img {
    width: 100%;
}